.post-body {
    padding: 2%;
    padding-top: 1%;
}

.post-body #title-wrapper {
    text-align: center;
}

.post-body #title {
    font-weight: bold;
    display: inline;
}

.post-body #edit-icon {
    display: inline;
}

.post-body .attachment-caption {
    margin-top: 0;
    font-size: small;
}

.post-body #timestamp {
    font-style: italic;
    font-size: small;
}
