.post-body {
    padding-top: 1%;
    width: 50%;
    position: absolute;
    left: 25vw;
}

.post-body #title-wrapper {
    text-align: center;
}

.post-body #title {
    font-weight: bold;
    display: inline;
}

.post-body #edit-icon {
    display: inline;
    cursor: pointer;
}

.post-body #content {
    white-space: pre-wrap;
    max-width: 100%;
    overflow: hidden
}

.post-body .attachment-caption {
    margin-top: 0;
    font-size: small;
}

.post-body #timestamp {
    font-style: italic;
    font-size: small;
    display: inline;
}

.post-body #delete-icon {
    display: inline;
    cursor: pointer;
}
