.post-body {
    overflow-y: auto;
    overflow-x: auto;
    padding-top: 1%;
    width: 50%;
    height: 85vh;
    position: absolute;
    left: 25vw;
}
/* Scrollbar stuff */
.post-body::-webkit-scrollbar-track { border: 1px solid #000; padding: 2px 0; background-color: #404040; }
.post-body::-webkit-scrollbar { width: 10px; }
.post-body::-webkit-scrollbar-thumb { border-radius: 10px; box-shadow: inset 0 0 6px rgba(0,0,0,.3); background-color: #737272; border: 1px solid #000;}

.post-body #title-wrapper {
    text-align: center;
}

.post-body #title {
    font-weight: bold;
    display: inline;
}

.post-body #edit-icon {
    display: inline;
    cursor: pointer;
}

.post-body #content {
    white-space: pre-wrap;
    max-width: 100%;
}

.post-body .attachment-caption {
    margin-top: 0;
    font-size: small;
}

.post-body #timestamp {
    font-style: italic;
    font-size: small;
    display: inline;
}

.post-body #delete-icon {
    display: inline;
    cursor: pointer;
}
