.header {
    background-color: #222;
    position: absolute;
    top: 0%;
    height: 12%;
    width: 100%;
    text-align: center;
    margin: 0;
}

.header h1 {
    color: #0ACDFF;
    margin: 0;
}

.header-text {
    margin-top: 2.5vh;
}