.header {
    background-color: #222;
    position: absolute;
    top: 0%;
    height: 12%;
    width: 100%;
    text-align: center;
}

.header-text p {
    font-size: 0px;
}
.header h1 {
    vertical-align: top;
    color: #0ACDFF;
    margin: 13px;
    cursor: pointer;

}
.header-text a {
    text-decoration:none;
    margin: 0%;
    color: inherit;
    font-size: small;
}
