.zone-container {
    position: absolute;
    top: 12vh;
    height: 88vh;
    width: 100vw;
    /* background-color: rgb(90, 163, 166); */
}
.left-zone {
    position: absolute;
    left: 0;
    width: 10vw;  /* use vw here because there is no parent to define horizontal constraint */
    height: 100%; /* use % here because the zone-container parent defines a vertical constraint */
    padding: 0;
    background-color: #222;
}
.right-zone {
    position: absolute;
    background-color: #333;
    top: 0vh;
    left: 10vw;
    width: 85vw;  /* use vw here because there is no parent to define horizontal constraint */
    height: 100%; /* use % here because the zone-container parent defines a vertical constraint */
}

.button {
    display: inline-block;
    background-color: #444;
    color: #0ACDFF;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    cursor: pointer;
}

.button:hover {
    background-color: #0ACDFF;
    color: #222;
}
